<template>
  <div class="title">Todo Liste</div>
  <div class="todoList">
    <button @click="visible = true" class="createTodo">Neues Todo anlegen</button>
    <Dialog v-model:visible="visible" modal header="Neues Todo anlegen" :style="{ width: '50vw' }">
      <InputText class="input" type="text" v-model="newTodo.todo" placeholder="Name" />
      <InputText class="input" type="text" v-model.number="newTodo.priority" placeholder="Priorität" />
      <Button @click="addTodo">Bestätigen</Button>
    </Dialog>
    <div v-for="entry in todos" :key="entry.todo" class="todoBox">
      <div class="todoItems">
        <div>
          <div class="todoItem">{{ entry.todo}}</div>
        </div>
        <div>
          <button @click="updateVisible = true" class="pi pi-pencil icons"></button>
          <Dialog v-model:visible="updateVisible" modal header="Todo bearbeiten" :style="{ width: '50vw' }">
            <InputText class="input" type="text" v-model="newTodo.todo" placeholder="Name" />
            <InputText class="input" type="text" v-model="newTodo.priority" placeholder="Priorität" />
            <Button @click="updateTodo(entry.id)">Bestätigen</Button>
          </Dialog>
          <button @click="deleteTodo(entry.id)" class="pi pi-trash icons"></button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">

import Button from "primevue/button";

interface Todo {
  id: number;
  todo: string;
  priority: number;
}

interface deletableTodo {
  id: number;
  todo: string;
  priority: null;
}

import {ref, onMounted} from "vue";
import 'primeicons/primeicons.css';
import Dialog from 'primevue/dialog';
import InputText from 'primevue/inputtext';
import axios from "axios";

export default {
  name: "HomeView",
  components: {Dialog, InputText, Button},
  setup(){
    const todos = ref<Todo[]>([]);
    const visible = ref(false);
    const todoName = ref("");
    const todoPrio = ref();
    const newTodo = ref<deletableTodo>({ id: 0,todo: '', priority: null });
    const updateVisible = ref(false);

    onMounted(() => {
      fetchTodos();
    })

    function fetchTodos () {
      fetch('http://localhost:8081/items/todos')
          .then(response => response.json())
          .then(data => {
            todos.value = data;
          })
          .catch(error => {
            console.error('Error fetching todos:', error);
          });
    }

    function addTodo () {
      axios
          .post('http://localhost:8081/items', newTodo.value)
          .then(response => {
            // Handle success response if needed
            fetchTodos(); // Fetch todos again to update the list
            newTodo.value = { id: 0, todo: '', priority: null }; // Reset the newTodo input fields
            visible.value = false;
          })
          .catch(error => {
            console.error('Error adding todo:', error);
          });
    }

    function updateTodo (entry: any) {
      axios.put(`http://localhost:8081/items/${entry}`, {
        todo: newTodo.value.todo,
        priority: newTodo.value.priority,
      })
          .then(() => {
            fetchTodos()
            newTodo.value = {id: 0, todo: '', priority: null}
            updateVisible.value = false;
          })
          .catch(error => {
            console.error('Error update todo:', error);
          });
    }

    function deleteTodo (entry: any) {
      axios
          .delete(`http://localhost:8081/items/todo/${entry}`)
          .then(() => {
            // Remove the deleted todo from the todos list
            fetchTodos()
          })
          .catch(error => {
            console.error('Error deleting todo:', error);
          });
    }
    return {
      todos,
      visible,
      todoName,
      todoPrio,
      deleteTodo,
      newTodo,
      addTodo,
      updateVisible,
      updateTodo
    }
  }
}
</script>

<style scoped>
.title {
  font-size: 40px;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

.createTodo{
  background-color: aliceblue;
  margin-left: 2rem;
  border-radius: 10px;
  font-size: 20px;
  padding: 1rem;
  width: fit-content;
}
.todoList{
  max-width: 50%;
  margin: 0 auto;
  padding: 1rem;
}

.input{
  margin-right: 1rem;
}

.todoBox {
  margin: 1rem;
  display: flex;
  align-content: baseline;

}
.todoItems{
  width: 100%;
  margin: 1rem;
  background-color: darkgray;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border-radius: 10px;
}

.todoItem {
  font-size: 20px;
  margin-top: 0.3rem;
}

.icons {
  font-size: 20px;
  margin-left: 2rem;
  padding: 0.6rem;
}

button {
  border: none;
  border-radius: 5px;
  background-color: darkgray;
}

button:hover {
  background-color: gray;
}

</style>
